#game-viewport .score {
  position: absolute;
  z-index: 2;
  top: 7vh;
  left: 0;
  right: 0;
  color: #ffffff;
  text-align: center;
  font-family: "Unbounded", system-ui, sans-serif;
  font-size: min(12vh, 21vw);
  font-weight: 900;
  pointer-events: none;
}
